{% extends "base.html.twig" %}

{% block body %}
<style>

    h1 {
        color: #3f5499;
    }

    .card-text {
        height: 20px;
        padding-left: 80%;
    }
</style>
<article class="blog d-flex flex-direction-row flex-wrap container">
    <h1 class="title">Nos dernieres <span class="yellow"> actus</span></h1><br>
    {% for article in articles %}
    <div class="container-card">
        <a href="{{ path('show_blog', {'id': article.id} ) }}">
            <div class="card-blog">
                <img src="{{ article.pictureArticle }}">
                <div class="container-text-card">
                    <div class="category">{{ article.category.title }}</div>
                    <h1 class="article-title-card">{{ article.title }}</h1>
                    <div class="date"><strong>{{ article.createdAt | date('d/m/Y')  }}</strong> •
                        {{ article.createdAt | date('H:i')}}</div>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</article>

{% endblock body %}