<!DOCTYPE html>
<html>

<head>
    {#+ Links & Script #}
    {# -Bootstrap #}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>
    {# -AOS #}
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>

    {# -Font Awesome #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer">

    {# -Ressources #}
    <link rel="icon" href="http://ressources.tedyware.fr/logo-ours.png">
    <link rel="stylesheet" href="/build/app.css">
    <script src="/build/runtime.js" defer=""></script>
    <script
        src="/build/vendors-node_modules_symfony_stimulus-bridge_dist_index_js-node_modules_core-js_modules_es_ob-7db861.js"
        defer=""></script>
    <script src="/build/app.js" defer=""></script>


    {#+ Meta Part #}
    <meta charset="UTF-8">
    <meta name="description" content="Association de Conception et développement web et mobile">
    <meta name="keywords" content="TedyWare, HTML, CSS, JavaScript, PHP, Symfony, VueJS, React, Web Design">
    <meta name="author" content="Dylan Weisse, Théo Mouaraki">

    {#+ Site Info  #}
    <title>{% block title %}TedyWare - {{ page_name }}{% endblock %}</title>
    <link rel="icon" href="http://ressources.tedyware.fr/main/logo-ours.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
{% if app.user %}

<body>
    <article class="pannel">

        <div class="sidebar">

            <div class="tedyware">

                <img src="http://ressources.tedyware.fr/main/Logo-ours-line.png">
                <h6>TedyWare</h6>

            </div>

            {% if app.user.role == "Admin" %}
            <a href="{{ path('dashboard_project') }}" class="contentLink  animate__animated animate__fadeIn"><i
                    class="fa-solid fa-list-check"></i>
                Projets</a>

            <a href="{{ path('dashboard_user') }}" class="contentLink animate__animated animate__fadeIn "><i
                    class="fa-solid fa-user-lock"></i>
                Utilisateurs</a>

            <a href="{{ path('dashboard_articles') }}" class="contentLink animate__animated animate__fadeIn "><i
                    class="fa-solid fa-newspaper"></i>
                Article</a>

            <a href="{{ path('dashboard_jobs') }}" class="contentLink animate__animated animate__fadeIn "><i
                    class="fa-solid fa-briefcase"></i>
                Jobs</a>

            <a href="{{ path('dashboard_infos') }}" class="contentLink animate__animated animate__fadeIn "><i
                    class="fa-solid fa-circle-info"></i> Vos
                informations</a>

            <a href="{{ path('home') }}" class="contentLink animate__animated animate__fadeIn "><i
                    class="fa-solid fa-globe"></i> Site TedyWare</a>
            <a href="{{ path('security_logout') }}" class="contentLink logout animate__animated animate__fadeIn"><i
                    class="fa-solid fa-arrow-right-from-bracket"></i> Deconnexion</a>

            {% elseif app.user.role == "Collaborateur" %}
            <a href="{{ path('dashboard_project_on') }}" class="contentLink animate__animated animate__fadeIn "><i
                    class="fa-solid fa-list-check"></i>
                Projets en cours</a>
            <a href="{{ path('dashboard_infos') }}" class="contentLink animate__animated animate__fadeIn "><i
                    class="fa-solid fa-circle-info"></i> Vos
                informations</a>

            <a href="{{ path('home') }}" class="contentLink animate__animated animate__fadeIn "><i
                    class="fa-solid fa-globe"></i> Site TedyWare</a>
            <a href="{{ path('security_logout') }}" class="contentLink logout animate__animated animate__fadeIn "><i
                    class="fa-solid fa-arrow-right-from-bracket"></i>
                Deconnexion</a>

            {% elseif app.user.role == "CommunityManager" %}
            <a href="{{ path('dashboard_articles') }}" class="contentLink  animate__animated animate__fadeIn"><i
                    class="fa-solid fa-newspaper"></i>
                Article</a>

            <a href="{{ path('dashboard_jobs') }}" class="contentLink animate__animated animate__fadeIn "><i
                    class="fa-solid fa-briefcase"></i>
                Jobs</a>

            <a href="{{ path('dashboard_infos') }}" class="contentLink animate__animated animate__fadeIn "><i
                    class="fa-solid fa-circle-info"></i> Vos
                informations</a>

            <a href="{{ path('home') }}" class="contentLink "><i class="fa-solid fa-globe"></i> Site TedyWare</a>
            <a href="{{ path('security_logout') }}" class="contentLink logout animate__animated animate__fadeIn"><i
                    class="fa-solid fa-arrow-right-from-bracket"></i>
                Deconnexion</a>

            {% elseif app.user.role == "Developpeur" %}
            <a href="{{ path('dashboard_project') }}" class="contentLink animate__animated animate__fadeIn "><i
                    class="fa-solid fa-list-check"></i>
                Projets en cours</a>

            <a href="{{ path('dashboard_infos') }}" class="contentLink animate__animated animate__fadeIn "><i
                    class="fa-solid fa-circle-info"></i> Vos
                informations</a>

            <a href="{{ path('home') }}" class="contentLink animate__animated animate__fadeIn"><i
                    class="fa-solid fa-globe"></i> Site TedyWare</a>

            <a href="{{ path('c') }}" class="contentLink logout animate__animated animate__fadeIn "><i
                    class="fa-solid fa-arrow-right-from-bracket"></i>
                Deconnexion</a>

            {% endif %}




        </div>

        <div class="content">
            <div class="navbarPannel">
                <img src="http://ressources.tedyware.fr/main/logo-ours.png" alt=""><a href="#" class="">
                    {{ app.user.name }}</a>
            </div>

            {% block body %}

            {% endblock %}

        </div>

        {% else %}

        <h3>Vous n'etes pas connecté : <a href="{{ path('security_login') }}" class="btn btn-warning">Connexion</a>
            <a href="{{ path('home') }}" class="btn btn-primary">Page d'accueil</a></h3>

        {% endif %}
    </article>
</body>

</html>